<section id="section-1">
  <div class="text-left h-screen flex flex-col justify-center items-start space-y-4 ml-2 lg:ml-8">
    <h1 class="font-custom uppercase tracking-wide text-white text-4xl sm:text-5xl lg:text-6xl drop-shadow-lg">
      Your free, convenient<br>training app.
    </h1>
    <p class="font-custom text-white text-lg sm:text-xl mt-4">
      Start your journey today with our easy-to-use platform.
    </p>
    <button id="explore-button" class="font-KenyanCoffeBold bg-white text-black font-bold py-2 px-4 rounded-sm mt-8 hover:bg-gradient-to-r from-blue-400 via-purple-500 to-blue-400 hover:text-white transition duration-300 ">
      Explore now
    </button>
  </div>
</section>

<section id="section-2" class="mt-[100vh] relative"> 
  <!-- Responsive Heading -->
  <div class="absolute top-5 left-1/2 transform -translate-x-1/2 z-10">
    <h1 class="font-custom text-white text-4xl sm:text-5xl lg:text-6xl uppercase tracking-wide text-center">
      Choose Muscle
    </h1>
  </div>

  <!-- Three.js element and rotation input -->
  <div class="left-0 w-full h-screen" id="three-js-container">
    <%= javascript_pack_tag 'muscle_map', defer: true %>
    <div class="absolute bottom-5 left-1/2 transform -translate-x-1/2 z-0">
      <h2 class="font-custom flex items-center justify-center text-white font-bold text-2xl capitalize">Rotate me!</h2>

      <!-- Styled Progress Bar with Draggable Handle -->
      <div
        class="relative w-72 h-4 bg-gradient-to-r from-gray-700 to-gray-900 rounded-full shadow-inner overflow-hidden"
        id="progressContainer"
      >
        <!-- Outer glow -->
        <div class="absolute inset-0 bg-gradient-to-r from-blue-400 via-purple-500 to-blue-400 opacity-50 blur-md"></div>
        <!-- Progress Indicator -->
        <div id="progressBar" class="h-full bg-gradient-to-r from-blue-500 to-purple-500 rounded-full"></div>
        <!-- Draggable Handle -->
        <div
          id="progressHandle"
          class="absolute top-0 -mt-1 w-6 h-6 bg-white rounded-full shadow cursor-pointer"
          style="left: 0%;"
        ></div>
      </div>
    </div>
  </div>
</section>


<!-- Fixed bullet navigation (only on this page) -->
<nav class="hidden lg:flex fixed top-1/2 right-8 -translate-y-1/2 flex-col space-y-4 z-50">
  <div data-target="#section-1" class="cursor-pointer flex flex-row-reverse items-center space-x-2 space-x-reverse bullet-container" data-step="1">
    <div class="w-4 h-4 rounded-full bg-gray-400 hover:bg-red-400 transition-colors bullet"></div>
    <span class="font-custom uppercase tracking-wide text-white">Your journey begins</span>
  </div>
  <div data-target="#section-2" class="cursor-pointer flex flex-row-reverse items-center space-x-2 space-x-reverse bullet-container" data-step="2">
    <div class="w-4 h-4 rounded-full bg-gray-400 hover:bg-red-400 transition-colors bullet"></div>
    <span class="font-custom uppercase tracking-wide text-white">Choose muscle</span>
  </div>
  <div data-target="#section-3" class="cursor-pointer flex flex-row-reverse items-center space-x-2 space-x-reverse bullet-container" data-step="3">
    <div class="w-4 h-4 rounded-full bg-gray-400 hover:bg-red-400 transition-colors bullet"></div>
    <span class="font-custom uppercase tracking-wide text-white">About you!</span>
  </div>
  <div data-target="#section-4" class="cursor-pointer flex flex-row-reverse items-center space-x-2 space-x-reverse bullet-container" data-step="3">
    <div class="w-4 h-4 rounded-full bg-gray-400 hover:bg-red-400 transition-colors bullet"></div>
    <span class="font-custom uppercase tracking-wide text-white">Browse exercises</span>
  </div>
</nav>





