<div class="mx-auto w-[20%] min-w-[200px] text-center pt-32 pb-8">
  <%= form_with url: filter_exercises_path, method: :get, remote: true, html: { id: 'filterForm', class: 'flex flex-col space-y-6 items-center justify-center' } do %>
    <!-- Experience Level Selection -->
    <div class="flex space-x-4 justify-center">
      <%= hidden_field_tag :experience_level, nil, id: 'experience_level' %>
      <button type="button"
        class="font-custom bg-white text-black py-2 px-4 rounded-sm hover:bg-gradient-to-r from-blue-400 via-purple-500 to-blue-400 hover:text-white transition duration-300 whitespace-nowrap"
        onclick="setExperienceLevel('Novice')">Novice</button>
      <button type="button"
        class="font-custom bg-white text-black py-2 px-4 rounded-sm hover:bg-gradient-to-r from-blue-400 via-purple-500 to-blue-400 hover:text-white transition duration-300 whitespace-nowrap"
        onclick="setExperienceLevel('Intermediate')">Intermediate</button>
      <button type="button"
        class="font-custom bg-white text-black py-2 px-4 rounded-sm hover:bg-gradient-to-r from-blue-400 via-purple-500 to-blue-400 hover:text-white transition duration-300 whitespace-nowrap"
        onclick="setExperienceLevel('Advanced')">Advanced</button>
    </div>

    <!-- Setup Type Selection -->
    <div class="flex space-x-4 justify-center">
      <%= hidden_field_tag :setup_type, nil, id: 'setup_type' %>
      <button type="button"
        class="font-custom bg-white text-black py-2 px-4 rounded-sm hover:bg-gradient-to-r from-blue-400 via-purple-500 to-blue-400 hover:text-white transition duration-300 whitespace-nowrap"
        onclick="setSetupType('Bodyweight')">Bodyweight</button>
      <button type="button"
        class="font-custom bg-white text-black py-2 px-4 rounded-sm hover:bg-gradient-to-r from-blue-400 via-purple-500 to-blue-400 hover:text-white transition duration-300 whitespace-nowrap"
        onclick="setSetupType('Small Gym')">Small Gym</button>
      <button type="button"
        class="font-custom bg-white text-black py-2 px-4 rounded-sm hover:bg-gradient-to-r from-blue-400 via-purple-500 to-blue-400 hover:text-white transition duration-300 whitespace-nowrap"
        onclick="setSetupType('Comercial Gym')">Comercial Gym</button>
    </div>
  <% end %>
</div>

<script>
  function setExperienceLevel(level) {
    document.getElementById('experience_level').value = level;
    document.getElementById('filterForm').submit();
  }

  function setSetupType(type) {
    document.getElementById('setup_type').value = type;
    document.getElementById('filterForm').submit();
  }
</script>