<nav class="absolute w-screen bg-white/50 shadow dark:bg-gray-800/20 z-20">
  <div class="container px-6 py-3 mx-auto md:flex md:justify-between md:items-center">
    <div class="flex items-center justify-between">
      <!-- Logo -->
      <a href="#" class="flex items-center">
        <img class="w-auto h-6 sm:h-7" src="https://merakiui.com/images/full-logo.svg" alt="Logo">
      </a>

      <!-- Mobile menu button -->
      <div class="flex lg:hidden">
        <button 
          id="menu-toggle" 
          type="button" 
          class="text-gray-500 hover:text-gray-600 focus:outline-none dark:text-gray-200"
          aria-label="toggle menu"
        >
          <!-- Hamburger Icon -->
          <svg 
            id="hamburger-icon" 
            xmlns="http://www.w3.org/2000/svg" 
            class="w-6 h-6" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
          </svg>

          <!-- Close Icon -->
          <svg 
            id="close-icon" 
            xmlns="http://www.w3.org/2000/svg" 
            class="w-6 h-6 hidden" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>

    <!-- Menu Items -->
    <div 
      id="nav-menu" 
      class="items-center md:flex md:items-center hidden transition-all duration-300 ease-in-out"
    >
      <div class="flex flex-col px-2 pt-2 pb-4 md:flex-row md:mx-2 md:py-0">
        <a href="/" class="px-3 py-2 text-gray-700 rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700">Exercises</a>
        <a href="/articles" class="mt-1 px-3 py-2 text-gray-700 rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 md:mt-0 md:ml-2">Study</a>
        <a href="#" class="mt-1 px-3 py-2 text-gray-700 rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 md:mt-0 md:ml-2">Support</a>
        <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "px-3 py-2 text-white bg-red-500 rounded-lg hover:bg-red-600 md:ml-2" %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: "px-3 py-2 text-white bg-green-500 rounded-lg hover:bg-green-600 md:ml-2" %>
        <% end %>
      </div>

      <div class="relative mt-4 md:mt-0 md:ml-2">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
          <svg class="w-5 h-5 text-gray-400" viewBox="0 0 24 24" fill="none">
            <path 
              d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 
              6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" 
              stroke="currentColor" 
              stroke-width="2" 
              stroke-linecap="round" 
              stroke-linejoin="round"
            ></path>
          </svg>
        </span>
        <input 
          type="text" 
          class="w-full py-2 pl-10 pr-4 text-gray-700 bg-white/50 border rounded-lg dark:bg-gray-200 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-blue-300" 
          placeholder="Search"
        >
      </div>
    </div>
  </div>
</nav>